header.navbar-fixed-top
  .container
    .row
      .header_top
        .col-md-4.md4-col-cust
          .logo_img
            a(href='#home', myscroll="")
              img(src='public/img/header-logo.png', alt='logoimage')
        .col-md-8.md8-col-cust
          .menu_bar
            nav.navbar.navbar-default(role='navigation')
              .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              #navbar.collapse.navbar-collapse
                ul.nav.navbar-nav
                  li
                    a(href='#home', myscroll='') Home
                  li
                    a(href='#aboutus', myscroll='') About Us
                  li
                    a(href='#services', myscroll='') Services
                  li
                    a(href='#features', myscroll='') Features
                  li
                    a(href='#contact', myscroll='') Contact
